div {
  width: 100%;
  font-family: 'Noto Serif KR', Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 40px;
  min-height: 100vh;
  letter-spacing: .5em;
}